<h3>로그인</h3>

<form action="/admin" method="POST">
    <label for="username"><b>사용자 이름</b></label>
    <input type="text" name="username" id="username">

    <label for="password"><b>비밀번호</b></label>
    <input type="password" name="password" id="password">

    <div class="button-group">
        <input type="submit" value="로그인" class="btn">
        <a href="/register" class="btn">회원가입</a>
    </div>
</form>

<style>
    .btn,
    input[type="submit"] {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px 5px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        width: 100px;
        /* 버튼 크기 통일 */
    }
    
    .btn:hover,
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    
    .button-group {
        display: flex;
        justify-content: space-between;
        width: 220px;
        /* 버튼 2개 합친 크기 */
    }
</style>