      <!-- 상단 소개글, 히어로 이미지 -->
      <div class="top">
        <h1 class="top-heading">MyStory</h1>
        <p class="top-body">당신의 하루를 기록하세요.</p>
      </div>

      <img src="/img/MyStory.png" alt="MyStory" class="hero-image" width="840" height="400">

      <!-- 최근 게시물 -->
      <section class="articles">
        <div class="articles-header">
          <h2 class="articles-heading">최근 게시물</h2>
          <a href="/add" class="new-post-button">새 게시물</a>
        </div>
        <ul class="article-ul">
          <% data.forEach(post => { %>
            <li>
              <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list-date">
                  <%= post.createdAt.toDateString() %>
                </span>
              </a>
            </li>
          <% }) %>
        </ul>
      </section>
      